{# mysite/personal/header.html #}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Felipe Brum</title>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% load staticfiles %}

	<!-- styles -->
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css" />

	<style type="text/css">
		html,
		body {
			height: 100%;
		}

		.body{
			background-color: #f6f6f6;
		}
		.img-profile{
			max-height: 100px;
		}
		.menu-sidebar{
			background-color: #FFF;
		}
		.page-footer{
			margin-left: 15px;
		}
	</style>
</head>
<body class="body">
	<section class="container-fluid">
		<header class="row">
			<div class="col-sm-2">
				<div class="center">
					<img src="{% static 'personal/img/profile.jpg' %}" alt="face" class="img-responsive img-profile" title="Picture of the profile">
				</div>
			</div>
			<div class="col-sm-10">
				<h3 class="text-center">
					Programming, Teaching, Entrepreneurship
				</h3>
			</div>
		</header>
		<section class="row">
			<div class="col-sm-2">
				<nav class="well bs-sidebar menu-sidebar">
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="/" title="Go to home page">
								Home
							</a>
						</li>
						<li>
							<a href="/blog/" title="Go to blog page and see the last posts">
								Blog
							</a>
						</li>
						<li>
							<a href="/contact/" title="Go to contact page">
								Contact
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-2">
				<section class="container-fluid">
					{% block content %}
				
					{% endblock %}
				</section>
			</div>
		</section>
	</section>
	<footer>
		<section class="container-fluid page-footer">
			<p>
				<a href="#" target="blanck" title="Contact me">
					Contact
				</a> |
				<a href="#" target="blanck" title="Go to LinkedIn page">
					LinkedIn
				</a> |
				<a href="#" target="blanck" title="Go to following me on Twitter">
					Twitter
				</a> |
				<a href="#" target="blanck" title="Go to connected me on GooglePlus">
					Google+
				</a> 
			</p>
		</section>
	</footer>
	
</body>
</html>
